

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-12">
            <div class="wrapper-content">
                <div class="icon-div">
                    <div class="icon-wrapper">
                        <span class="fa fa-question-circle-o icon-custom"></span>
                    </div>
                </div>
                <div class="text-wrapper">
                    <h5>App Usage Problem</h5>
                </div>
                <div class="dir-icon">
                    <span class="fa fa-angle-right"></span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-12">
            <div class="wrapper-content">
                <div class="icon-div">
                    <div class="icon-wrapper">
                        <span class="fa fa-gear icon-custom"></span>
                    </div>
                </div>
                <div class="text-wrapper">
                    <h5>Features</h5>
                </div>
                <div class="dir-icon">
                    <span class="fa fa-angle-right"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-12">
            <div class="wrapper-content">
                <div class="icon-div">
                    <div class="icon-wrapper">
                        <span class="fa fa-wrench icon-custom"></span>
                    </div>
                </div>
                <div class="text-wrapper">
                    <h5>Lock installation</h5>
                </div>
                <div class="dir-icon">
                    <span class="fa fa-angle-right"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-12">
            <div class="wrapper-content">
                <div class="icon-div">
                    <div class="icon-wrapper">
                        <span class="fa fa-exclamation-triangle icon-custom"></span>
                    </div>
                </div>
                <div class="text-wrapper">
                    <h5>Normal trouble shooting</h5>
                </div>
                <div class="dir-icon">
                    <span class="fa fa-angle-right"></span>
                </div>
            </div>
        </div>
    </div>

</div>