



<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-12"></div>

        <div class="col-md-6 col-lg-6 col-12">
            <div class="content-wrapper">
                <h4>BT0973487484</h4>

                <div class="battery-wrapper">
                    <span class="fa fa-battery-4"></span>
                    <p>88% August 7, 2020 2:55 PM</p>
                </div>

                <div class="bluetooth-wrapper">
                    <div>
                        <span class="fa fa-bluetooth-b bluetooth-icon"></span>
                    </div>
                   
                    <p>Bluetooth</p>
                </div>


                <div class="bluetooth-text-wrapper">
                    <span class="fa fa-bluetooth-b"></span>
                    <p>Bluetooth</p>
                </div>

            </div>

 
            <div class="footer-wrapper">
                <div class="footer-content">
                    <div>
                        <span class="fa fa-home"></span>
                    </div>
                    <div>
                        <span class="fa fa-bell-o"></span>
                    </div>
                    <div>
                        <span class="fa fa-share-alt"></span>
                    </div>
                    <div>
                        <span class="fa fa-gear"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>