




<div class="container">
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/grid-1" routerLinkActive="active-link">Grid 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/grid-2" routerLinkActive="active-link">Grid 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/grid-3" routerLinkActive="active-link">Grid 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/grid-4" routerLinkActive="active-link">Grid 4</a>
      </li>
    </ul>
  </nav> 
  <router-outlet />
</div>



